@import 'libs/bootstrap-reboot.min';

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Rubik:wght@300;400;500;700&display=swap');
// font-family: 'DM Serif Display', serif;
// font-family: 'Rubik', sans-serif;

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: $second-color;
}

.container {
    width: 1120px;
    margin: 0 auto;
}

p {
    margin: 0;
}

@import 'blocks/button';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/faq';
@import 'blocks/carousel';
@import 'blocks/feed';
@import 'blocks/footer';
@import 'blocks/media';