@media (max-width: 1439px) {
    .feed {
        &__bg-under {
            width: 1200px;
        }
    }
}
@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .promo {
        background: url(../img/header/illustration.svg) no-repeat 80%/cover;
        &__model {
            width: 450px;
        }
    }
    .about {
        margin-top: 200px;
        &__descr {
            width: 370px;
            font-size: 16px;
            line-height: 38px;
            margin-top: 30px;
        }
        &__info {
            padding: 15px 55px;
            width: 460px;
            height: 130px;
            font-size: 18px;
        }
    }
    .faq {
        &__img {
            right: 117px;
            width: 608px;
            height: 397px;
        }
        &__background {
            border-top-right-radius: 200px;
        }
        .accordion {
            grid-template-columns: 450px 450px;
            &-item {
                &__head {
                    width: 450px;
                    font-size: 16px;
                }
                &__body {
                    width: 450px;
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .feed {
        min-height: 770px;
        &__bg {
            width: 100%;
            &-under {
                width: 100%;
                height: 600px;
            }
        }
        &__truck {
            width: 350px;
            top: 10px;
        }
        &__wrapper {
            column-gap: 20px;
        }
        &__info {
            &-text {
                font-size: 18px;
            }
        }
        &__menu {
            margin-top: 70px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }
    .promo {
        min-height: 900px;
        &__logo {
            width: 170px;
        }
        &__header {
            width: 600px;
            font-size: 80px;
            margin-top: 80px;
        }
        &__model {
            width: 400px;
            top: 755px;
        }
        .menu {
            width: 430px;
            &__list {
                width: 250px;
                li {
                    a{
                        font-size: 14px;
                    }
                }
            }
            .btn {
                font-size: 14px;
                width: 148px;
                height: 50px;
                margin-left: 30px;
            }
        }
    }
    .about {
        &__wrapper {
            &:last-child {
                margin-top: 140px;
            }
        }
        &__img {
            width: 350px;
        }
        &__descr {
            width: 320px;
            font-size: 14px;
            line-height: 36px;
        }
        &__info {
            padding: 10px 35px;
            width: 370px;
            height: 100px;
            font-size: 14px;
            line-height: 27px;
        }
    }
    .faq {
        &__img {
            top: 80px;
            right: 50px;
            width: 508px;
            object-fit: contain;
        }
        &__header {
            width: 440px;
            font-size: 38px;
            line-height: 64px;
        }
        .accordion {
            grid-template-columns: 350px 350px;
            margin-top: 140px;
            &-item {
                &__head {
                    width: 350px;
                    font-size: 14px;
                    padding: 0 25px 0 25px;
                    line-height: 26px;
                }
                &__body {
                    width: 350px;
                    p {
                        font-size: 14px;
                        line-height: 26px;
                    }
                }
            }
        }
    }
    .carousel {
        padding-bottom: 120px;
        &__header {
            font-size: 44px;
            width: 266px;
        }
        .slider {
            &-item {
                width: 350px;
                min-height: 330px;
            }
            .slick-prev {
                right: 170px;
            }
            .slick-next {
                right: 100px;
            }
        }
    }
    .feed {
        padding-top: 40px;
        min-height: 690px;
        &__bg {
            &-over {
                width: 510px;
            }
            &-under {
                height: 520px;
            }
        }
        &__truck {
            width: 250px;
            top: 55px;
        }
        &__wrapper {
            grid-template-columns: 260px 400px;
            column-gap: 20px;
            .feed-form  {
                padding: 32px 25px;
                input {
                    font-size: 16px;
                    // width: 340px;
                    width: 100%;
                    padding: 11px 20px;
                }
            }
        }
        &__info {
            &-text {
                width: 220px;
                font-size: 14px;
            }
        }
        &__menu {
            margin-top: 55px;
            &-logo {
                width: 170px;
            }
            &-list {
                li {
                    &:last-child {
                        margin-right: 50px;
                    }
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .overlay {
        .modal {
            width: 450px;
            padding: 32px 25px;
            &-form  {
                input {
                    font-size: 16px;
                    width: 340px;
                    padding: 11px 20px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    .promo {
        position: relative;
        background: url(../img/header/illustration.svg) no-repeat 80%/cover;
        &__header {
            width: 511px;
            font-size: 70px;
        }
        &__model {
            display: none;
        }
        .header {
            position: relative;
            .hamburger {
                display: block;
                position: absolute;
                right: 20px;
                // transform: translateY(-50%);
                width: 30px;
                height: 18px;
                span {
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: #fff;
                    border-radius: 1px;
                    margin-bottom: 6px;
                    transition: 0.5s all;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                &_active {
                    span {
                        margin-bottom: -2px;
                        &:nth-child(1) {
                            transform: rotate(-45deg);
                        }
                        &:nth-child(2) {
                            display: none;
                        }
                        &:nth-child(3) {
                            transform: rotate(45deg);
                        }
                    }
                }
            }
            .menu {
                position: fixed;
                z-index: 100;
                visibility: hidden;
                opacity: 0;
                left: -100%;
                transition: all .6s;
                &__block {
                    z-index: 100;
                    position: fixed;
                    top: 0;
                    width: 50%;
                    height: 100vh;
                    z-index: 10;
                    transition: all .6s;
                    background: rgba(245, 137, 110, 0.9);
                    // padding-top: 184px;
                    // padding-bottom: 49px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                &.active {
                    left: 0;
                    visibility: visible;
                    opacity: 1;   
                }
                &__close {
                    position: absolute;
                    top: 50px;
                    right: 35px;
                    cursor: pointer;
                    display: block;
                }
                &__list {
                    display: flex;
                    flex-direction: column;
                    width: 450px;
                    li {
                        margin-bottom: 40px;
                    }
                }
                .social {
                    display: block;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    bottom: 100px;
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 36px;
                        width: 36px;
                        border-radius: 100%;
                        background-color: $main-color;
                        margin: 0 15px;
                    }
                }
                .btn {
                    display: none;
                }
                &__overlay {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    opacity: .75;
                    z-index: -1;
                }
            }
        }
    }
    .about {
        margin-top: 150px;
        &__wrapper {
            flex-direction: column;
            align-items: center;
            &:last-child {
                margin-top: 140px;
            }
        }
        &__descr {
            width: 100%;
            font-size: 16px;
            line-height: 38px;
        }
        &__text {
            order: 2;
        }
        &__img {
            order: -1;
            width: 430px;
        }
        &__title {
            margin-top: 33px;
            &_top {
                margin-top: 66px;
            }
        }
        &__info {
            padding: 25px 25px;
            width: 100%;
        }
    }
    .faq {
        &__img {
            top: 0;
            right: 30px;
            width: 360px;
        }
        &__subheader {
            padding-top: 240px;
        }
        .accordion {
            grid-template-columns: 1fr;
            margin-top: 140px;
            justify-items: center;
            &-item {
                &__head {
                    width: 450px;
                    font-size: 16px;
                }
                &__body {
                    width: 450px;
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .carousel {
        padding-top: 314px;
        &__header {
            float: none;
            margin-bottom: 110px;
        }
        .slider {
            margin: 0 16px;
        }
    }
    .feed {
        min-height: 1070px;
        &__bg {
            &-over {
                width: 320px;
                top: 570px;
                left: 60px;
            }
            &-under {
                height: 900px;
            }
        }
        &__truck {
            width: 250px;
            top: 55px;
        }
        &__wrapper {
            display: flex;
            flex-direction: column-reverse;
            .feed-form {
                width: 400px;
                margin: 250px auto 0 auto;
                padding: 32px 25px;
                input {
                    padding: 11px 20px;
                }
            }
        }
        &__info {
            justify-content: unset;
            margin-top: 60px;
            &:before {
                content: '';
                margin-right: 30px;
            }
            &-text {
                width: 220px;
                font-size: 14px;
            }
        }
        &__menu {
            display: none;
        }
    }
    .overlay {
        .modal {
            width: 450px;
            .feed-form  {
                padding: 32px 25px;
                input {
                    font-size: 16px;
                    width: 100%;
                    padding: 11px 20px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 15px
    }
    .promo {
        background: url(../img/header/mobile_bg.svg) no-repeat 80%/cover;
        &__header {
            width: 90vw;
            font-size: 13vw;
            margin-top: 70px;
        }
        &__logo {
            width: 130px;
        }
        .btn_220 {
            width: 200px;
            height: 50px;
            font-size: 14px;
            svg {
                width: 25px;
            }
        }
        .header {
            .menu {
                &__block {
                    width: 70%;
                    // padding-top: 150px;
                }
            }
        }
    }
    .about {
        &__img {
            width: 320px;
        }
        &__descr {
            font-size: 16px;
            line-height: 36px;
        }
        &__info {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 110px;
            font-size: 14px;
            line-height: 26px;
        }
    }
    .faq {
        &__img {
            top: -30px;
            right: 16px;
            width: 90%;
        }
        &__background {
            width: 100%;
        }
        &__header {
            width: 263px;
            font-size: 36px;
            line-height: 50px;
            width: 80vw;
            font-size: 10vw;
            line-height: 12vw;
        }
        &__subheader {
            padding-top: 320px;
        }
        .accordion {
            grid-template-columns: 1fr;
            margin-top: 100px;
            &-item {
                &__head {
                    width: 100%;
                    min-height: 70px;
                    font-size: 12px;
                    line-height: 16px;
                }
                &__body {
                    width: 100%;
                    height: 55px;
                    p {
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }
        }
    }
    .carousel {
        padding-top: 214px;
        &__header {
            margin-bottom: 170px;
        }
        .slider {
            &-item {
                width: 290px;
                min-height: 274px;
                box-shadow: none;
                &__text {
                    padding: 25px 35px 0 35px;
                    font-size: 14px;
                    line-height: 28px;
                }
                &__info {
                    margin: 15px 35px 35px 35px;
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
                &__name {
                    font-family: Roboto;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 30px;
                    color: #402B2B;
                }
            }
            .slick-prev {
                right: 76px;
            }
            .slick-next {
                right: 16px;
            }
        }
    }
    .feed {
        min-height: 1090px;
        &__bg {
            &-over {
                width: 100%;
                top: 550px;
                left: 0;
            }
            &-under {
                height: 920px;
                border-top-right-radius: 100px;
            }
        }
        &__truck {
            width: 215px;
            top: 70px;
        }
        &__wrapper {
            .feed-form {
                width: 100%;
                padding: 32px 20px;
                input {
                    font-size: 14px;
                    width: 100%;
                    padding: 11px 20px;
                }
                label {
                    font-size: 14px;
                }
            }
            .btn {
                width: 200px;
                height: 60px;
                font-size: 14px;
            }
        }
    }
    footer {
        .footer {
            flex-direction: column-reverse;
            justify-content: space-evenly;
        }
    }
    .overlay {
        .modal {
            // width: 290px;
            width: 90%;
            // min-height: 324px;
            &__close {
                right: 0;
                top: -45px;
            }
            &-form {
                input {
                    font-size: 14px;
                    width: 100%;
                    padding: 11px 20px;
                }
                label {
                    font-size: 14px;
                }
            }
            &__title {
                font-size: 16px;
            }
        }
    }
}