@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .promo {
        background: url(../img/header/illustration.svg) no-repeat 80%/cover;
        &__model {
            width: 450px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }
    .promo {
        min-height: 900px;
        &__logo {
            width: 170px;
        }
        &__header {
            width: 600px;
            font-size: 80px;
            margin-top: 80px;
        }
        &__model {
            width: 400px;
            top: 755px;
        }
        .menu {
            width: 430px;
            &__list {
                width: 250px;
                li {
                    a{
                        font-size: 14px;
                    }
                }
            }
            .btn {
                font-size: 14px;
                width: 148px;
                height: 50px;
                margin-left: 30px;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    .promo {
        position: relative;
        background: url(../img/header/illustration.svg) no-repeat 80%/cover;
        &__header {
            width: 511px;
            font-size: 70px;
        }
        &__model {
            display: none;
        }
        .header {
            position: relative;
            .hamburger {
                display: block;
                position: absolute;
                right: 20px;
                // transform: translateY(-50%);
                width: 30px;
                height: 18px;
                span {
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: #fff;
                    border-radius: 1px;
                    margin-bottom: 6px;
                    transition: 0.5s all;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                &_active {
                    span {
                        margin-bottom: -2px;
                        &:nth-child(1) {
                            transform: rotate(-45deg);
                        }
                        &:nth-child(2) {
                            display: none;
                        }
                        &:nth-child(3) {
                            transform: rotate(45deg);
                        }
                    }
                }
            }
            .menu {
                position: fixed;
                visibility: hidden;
                opacity: 0;
                left: -100%;
                transition: all .6s;
                &__block {
                    z-index: 10;
                    position: fixed;
                    top: 0;
                    width: 50%;
                    height: 100vh;
                    z-index: 10;
                    transition: all .6s;
                    background: rgba(245, 137, 110, 0.9);
                    // padding-top: 184px;
                    // padding-bottom: 49px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                &.active {
                    left: 0;
                    visibility: visible;
                    opacity: 1;   
                }
                &__close {
                    position: absolute;
                    top: 50px;
                    right: 35px;
                    cursor: pointer;
                    display: block;
                }
                &__list {
                    display: flex;
                    flex-direction: column;
                    width: 450px;
                    li {
                        margin-bottom: 40px;
                    }
                }
                .social {
                    display: block;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    bottom: 50px;
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 36px;
                        width: 36px;
                        border-radius: 100%;
                        background-color: $main-color;
                        margin: 0 15px;
                    }
                }
                .btn {
                    display: none;
                }
                &__overlay {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    opacity: .75;
                    z-index: -1;
                }
            }
        }
    }
    
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 15px
    }
    .promo {
        background: url(../img/header/mobile_bg.svg) no-repeat 80%/cover;
        &__header {
            width: 90vw;
            font-size: 13vw;
            margin-top: 70px;
        }
        &__logo {
            width: 130px;
        }
        .btn_220 {
            width: 200px;
            height: 50px;
            font-size: 14px;
            svg {
                width: 25px;
            }
        }
        .header {
            .menu {
                &__block {
                    width: 70%;
                    // padding-top: 150px;
                }
            }
        }
    }
}