.promo {
    padding-top: 50px;
    &__img {
        position: absolute;
        left: -49px;
        top: -54px;
        z-index: -1;
        background-color: $second-color;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        width: 212px;
        img {
            width: 100%;
        }
    }
    &__menu {
        width: 604px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
            list-style-type: none;
            a {
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #FFFFFF;
                transition: 0.3s all;
                &:hover {
                    color: $main-color;
                    text-decoration: none;
                }
            }
        }
    }
    &__header {
        font-family: DM Serif Display;
        font-weight: normal;
        font-size: 100px;
        line-height: 100%;
        color: #FFFFFF;
        width: 741px;
        margin-top: 90px;
    }
    .btn_220 {
        margin-top: 60px;
    }
    &__model {
        position: absolute;
        left: -60px;
        top: 740px;
    }
}