.promo {
    padding-top: 50px;
    // min-height: 100vh;
    // background: url(../img/header/illustration.svg) right (center/cover) no-repeat;
    background: url(../img/header/illustration.svg) no-repeat 50%/cover;
    min-height: 1100px;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        width: 212px;
        img {
            width: 100%;
        }
    }
    .menu {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        width: 604px;
        &__close {
            display: none;
        }
        &__block {
            display: flex;
            align-items: center;
            .btn {
                margin-left: 76px;
            }
        }
        &__list {
            width: 370px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            li {
                list-style-type: none;
                a {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    transition: 0.3s all;
                    &:hover {
                        color: $main-color;
                        text-decoration: none;
                    }
                }
            }
        }
        ul {
            margin-bottom: 0;
        }
        .social {
            display: none;
        }
    }
    &__header {
        font-family: DM Serif Display;
        font-weight: normal;
        font-size: 100px;
        line-height: 100%;
        color: #FFFFFF;
        width: 741px;
        margin-top: 90px;
        margin-bottom: 0;
    }
    .btn_220 {
        margin-top: 60px;
    }
    &__model {
        position: absolute;
        left: -60px;
        top: 900px;
    }
    .hamburger {
        display: none;
    }
}